[Desktop Entry]
Version=1.0
Type=Application
NoDisplay=false
Name=Change Wallpaper
Categories=Utility;
TryExec=setbg
Exec=setbg
StartupNotify=false
Terminal=false
# Thanks to quequotion for providing this file!
Icon=daily-wallpaper
NoDisplay=false
