[Desktop Entry]
Version=1.0
Type=Application
NoDisplay=false
Name=Change Theme
Categories=Utility;
TryExec=changetheme
Exec=changetheme
StartupNotify=false
Terminal=false
Icon=gtk-theme-config
NoDisplay=false
